
* {
  box-sizing: border-box;
}

.topnav {
    font-family: 'Roboto Mono';
    font-size: 20px;
    text-transform:uppercase;
  }

.logo {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px 10px;
    background-color:none;
    color:black;
    text-decoration: none;
    text-align: center;
  }


  .triangle-down, a:hover {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #45B2AB;

  color: #45B2AB;
  font-weight: bold;

}

.triangle-down {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #3a4140;
}

.flex-container {
  display: flex;
  background-color:white;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Roboto Mono';
  font-size: 52px;
  text-decoration: none;
  font-weight: normal;
  padding-bottom: -30px;
}

h2 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 28px;
}

h3 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 30px;
  padding-bottom: -20px;
  color: #393939;
}

p {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
}

#paragraphWhy {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

h4 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: -20px;
}

h5 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: -20px;
}

h6 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: -20px;
}

#bioText {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

#footerIcon {
  width: 20px;
}

.footer {
  font-family: 'Roboto Mono';
  font-size: 22px;
  text-align: center;
}

#copyright {
  font-family: 'Arial';
  font-size: 12px;
}


.portfolioItem {
  padding: 20px;
  max-width: 300px;
}

.portfolio-image {
  max-width:100%;
  height: auto;
}

.portfolio-header {
  justify-content: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.BlankCol {
  display: none;
}

/* For mobile phones: */
[class*="col-"] {
  float: center;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
 /* For tablets: */
  [class*="col-"] {
    float: left;
  }

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .BlankCol {display: inline-block}
}
@media only screen and (min-width: 1000px) {
 /* For desktop: */
  [class*="col-"] {
    float: left;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .BlankCol {display: block}
}

