
* {
  box-sizing: border-box;
}

.topnav {
    font-family: 'Roboto Mono';
    font-size: 20px;
    text-transform:uppercase;
  }

.logo {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px 10px;
    background-color:none;
    color:black;
    text-decoration: none;
    text-align: center;
  }


  .triangle-down, a:hover {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #45B2AB;

  color: #45B2AB;
  font-weight: bold;

}

.triangle-down {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #3a4140;
}

.flex-container {
  display: flex;
  background-color:white;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Roboto Mono';
  font-size: 52px;
  text-decoration: none;
  font-weight: normal;
  padding-bottom: -30px;
}

h2 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 28px;
}

h3 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 30px;
  padding-bottom: -20px;
  color: #393939;
}

p {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
}

#paragraphWhy {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

h4 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: -20px;
}

h5 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: -20px;
}

h6 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: -20px;
}

#bioText {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 22px;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

#footerIcon {
  width: 20px;
}

.footer {
  font-family: 'Roboto Mono';
  font-size: 22px;
  text-align: center;
}

#copyright {
  font-family: 'Arial';
  font-size: 12px;
}


.portfolioItem {
  padding: 20px;
  max-width: 300px;
}

.portfolio-image {
  max-width:100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.item1 { grid-area: title; }
.item2 { grid-area: ignite; }
.item3 { grid-area: sandicroft; }
.item4 { grid-area: liveactionset; }

.grid-container {
  display: grid;
  grid-template-columns: auto 35% 35% auto;
  grid-template-areas:
    'title title title title'
    '. ignite sandicroft .'
    '. liveactionset . .';
  grid-gap: 40px;
  padding: 10px;
}

.grid-container > div {
  padding: 0 0;
}


